*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.flex{
    display: flex;
}

.login-container{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 2vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

.invalido{
    border-color: red !important;
}

#error{
    position: absolute;
    top: 70%;
}

.form-container{
    width: 20vw;
    min-width: 300px;
    height: 35vh;
    min-height: 225px;
    border: 2px;
    border-color: black;
    padding: 1.5%;
    background-color: white;
    border-radius: 5%;
    border-style: solid;
    flex-direction: column;
}

.form-container, .form, .login-container{
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    height: 100%;
    gap: 5px;
    flex-direction: column;
}


.form-input{
    width: 90%;
    height: 15%;

    font-size: .7rem;

    border: 2px;
    border-style: solid;
    border-color: grey;
    border-radius: 30px;

    padding: 2%;
}
.form-input:current{
    border-color: black !important;
}

.submit{
    margin: 3%;
    width: 40%;
    height: 20%;
    background-color: white;
    border-radius: 30px;
}

.submit:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.form-item{
    box-shadow: 3px 3px lightgrey;
}


#error{
    color: white;
    border: 1px;
    border-color: black;
}

@media only screen and (min-width: 992px) {
    .form-container{
        width: 30vw;
        min-width: 350px;
        height: 35vh;
        min-height: 250px;
        font-size: x-large;
    }
    .form-input, .submit{
        font-size: 1rem;
    }
}